# Author: Abdur Rahim <rahim.prsf@gmail.com> 
#
# This GitHub action contains three Jobs
# 1. Build: This build the dotnet application
# 2. Deploy: If build is successfull then this logs into ECR first, then build builds the Docker image and finally uploads
#    the image into AWS ECR
# 3. Publish: This logs into the ECR and SSH to the EC2 instance. Then it pulls the Docker image from the ECR
#    Fianlly, stops previous container and runs the latest image

name: Build Docker image, publish to ECR and deploy to Amazon EC2

on:
  push:
    branches: ["docker-container"]

env:
  ECR_REPOSITORY: automate/api     # set this to your Amazon ECR repository name
  HOST: ec2-43-204-145-191.ap-south-1.compute.amazonaws.com
  CONTAINER_NAME: automate-api

jobs:
  build:
    name: Build Project
    runs-on: ubuntu-latest  
    steps:
      - uses: actions/checkout@v3
      - name: 1️⃣ Setup .NET Core SDK 8.0.x
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x 
      - name: 2️⃣ Install dependencies
        run: dotnet restore
        
      - name: 3️⃣ Build
        run: dotnet build --configuration Release --no-restore

  publish:
    name: Build Docker image and push to ECR
    runs-on: ubuntu-latest
    needs: build
    outputs:
      registry: ${{ steps.login-ecr.outputs.registry }}
    steps:
    - name: 1️⃣ Checkout
      uses: actions/checkout@v4

    - name: 2️⃣ Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: 3️⃣ Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: 4️⃣ Build, tag, and push image to Amazon ECR
      id: build-image
      env:
        REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        IMAGE_TAG: ${{ github.sha }}
      run: |
        docker build -t $REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG -t $REGISTRY/$ECR_REPOSITORY:latest .
        docker push $REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
        docker push $REGISTRY/$ECR_REPOSITORY:latest
 
  deploy:
    name: Deploy docker image on AWS EC2
    environment: production
    needs: publish
    runs-on: ubuntu-latest
    steps:
      - name: 1️⃣ SSH into EC2 instance and Deploy docker image
        uses: appleboy/ssh-action@v1.0.0
        env:
          AWS_REGION: ${{ secrets.AWS_REGION }}
          REGISTRY: ${{ needs.publish.outputs.registry }}
        with:
          host: ${{ env.HOST }}
          username: ec2-user
          key: ${{ secrets.SSH_KEY }}
          script_stop: true
          envs: AWS_REGION,REGISTRY

      - name: 2️⃣ Pull image and run container
        run: |-
          echo "$REGISTRY"
          sudo docker login --username AWS -p $(aws ecr get-login-password --region $AWS_REGION) $REGISTRY
          sudo docker pull $IMAGE_NAME/$ECR_REPOSITORY:latest
          sudo docker stop $CONTAINER_NAME
          sudo docker rm $CONTAINER_NAME
          sudo docker run -d -p 80:8080 --name $CONTAINER_NAME $IMAGE_NAME/$ECR_REPOSITORY:latest
          sudo docker image prune -a -f
          sudo docker logout $REGISTRY

